.jumbotron {
    text-align: center;
    background-color: blue !important;
    color: white;
    padding: 25px !important;
}
.jumbotron h1 {
    font-family: 'Luckiest Guy', cursive;
}
.jumbotron p {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 23px;
}

.card-header, .card-footer {
    background-color: blue !important;
    color: white;
}

form {
    text-align: left;
}